$green: rgb(52, 230, 39);
$gray: rgb(61, 59, 59);
$black: rgba(0, 0, 0, 0.897);
$white: rgb(255, 254, 254);

body{
  overflow-x: hidden ; /* yatay scrollu kaldırır */
}

.navbar {
  background-color: #141214 !important;

  .nav-item {
    .nav-green-links {
      color: $green;
    }
  }
}
// /header and navbar
/* Welcome Section */

.welcome-section {
  background-image: url(images/back.jpg);
  height: 50vh;
  background-size: cover;
  padding: 50px;
  background-attachment: fixed;

  .Welcome-text {
    
    width: 500px;
    color: white;
    text-align: center;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    

    button:first-of-type{
      background-color: $green;
    }
    .welcome-text-buttons{
      border-radius: 10px;
      margin-left: 10px;
      padding: 5px 10px;
      &:hover{
        transform: scale(90%);
        transition: ease all .3s;
        box-shadow: 0px 0px 10px white;
      }
      
    }

    h1 {
      color: $green;
    }
  }
}

/* /Welcome Section */

// Windows Section

.widnows-section{
  display: flex;
  height: 80vh;
  
  
  background-color: #141214;
  .left-section{
    width: 700px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: $white;

    button{
      padding: 20px;
      border-radius: 20px;
      background-color: white;
      &:hover{
        transform: scale(95%);
        transition: ease all .3s;
        box-shadow: 0px 0px 10px white;
      }
    }
  }
}
  .right-section{
    background-color: #141214;
    padding: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    
    .windows{
      width: 200px;
      margin-right: 10px;
      background-image: url(images/sec2.jpg);
      background-size: cover;
      border-radius: 30px 30px 0px 0px;
      background-attachment: fixed;
     &:nth-of-type(2){
      border-radius: 30px;
     }
      
    }
  }
  
// java section
.javasection{
  background-color: #141214;
  padding: 100px;
  .upper_section{
    color: white;
    width: 50%;
    h3{
      margin-bottom: 30px;
    }
    p{
      color: gray;
    }

  }

  .cards_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    justify-content: space-between;
    background-color: #141214;
    
    .card{
      padding: 20px;
      background-color: #141214;
      color: white;
      border: 1px solid gray;
      &:nth-of-type(3){
        padding-top: 30px;
      }
    
      video{
        width: 200px;
        
      }
    }
}
}
// list section

.list-section{
  color: white;
  background-color:#141214;
  display: flex;
  flex-direction: column;
  padding: 100px;

.list-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.list-items{
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  img{
    width: 50px;
    align-items: center;
    padding-bottom: 40px;
  }
  span{
    color: $gray;
  }
}
}






































































// Footer
.footer {
  background-color: #141214;
  ul {
    li {
      list-style-type: none;
      padding: 10px;
      a {
        text-decoration: none;
        color: $white;
        font-size: 16px;
      }
      .first_li {
        font-size: 22px;
        text-shadow: 0px 0px 2px white;
      }
    }
  }
}

.col-lg-3 {
  li {
    button {
      background-color: $green;
      border-radius: 5px;
      padding: 5px;
      border: none;
      outline: none;

      &:hover {
        transform: scale(90%);
        box-shadow: 0px 0px 5px white;
        transition: ease all 0.3s;
      }
    }
  }
}

