@charset "UTF-8";
body {
  overflow-x: hidden; /* yatay scrollu kaldırır */
  background-color: #141214 !important;
}

.navbar {
  background-color: #141214 !important;
}
.navbar .nav-item .nav-green-links {
  color: rgb(52, 230, 39);
}

/* Welcome Section */
.welcome-section {
  background-image: url(images/back.jpg);
  height: 50vh;
  background-size: cover;
  padding: 50px;
  background-attachment: fixed;
}
.welcome-section .Welcome-text {
  width: 500px;
  color: white;
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.welcome-section .Welcome-text button:first-of-type {
  background-color: rgb(52, 230, 39);
}
.welcome-section .Welcome-text .welcome-text-buttons {
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 10px;
}
.welcome-section .Welcome-text .welcome-text-buttons:hover {
  transform: scale(90%);
  transition: ease all 0.3s;
  box-shadow: 0px 0px 10px white;
}
.welcome-section .Welcome-text h1 {
  color: rgb(52, 230, 39);
}

/* /Welcome Section */
.widnows-section {
  display: flex;
  height: 80vh;
  background-color: #141214;
}
.widnows-section .left-section {
  width: 700px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: rgb(255, 254, 254);
}
.widnows-section .left-section button {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
.widnows-section .left-section button:hover {
  transform: scale(95%);
  transition: ease all 0.3s;
  box-shadow: 0px 0px 10px white;
}

.right-section {
  background-color: #141214;
  padding: 100px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.right-section .windows {
  width: 200px;
  margin-right: 10px;
  background-image: url(images/sec2.jpg);
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
  background-attachment: fixed;
}
.right-section .windows:nth-of-type(2) {
  border-radius: 30px;
}

.javasection {
  background-color: #141214;
  padding: 100px;
}
.javasection .upper_section {
  color: white;
  width: 50%;
}
.javasection .upper_section h3 {
  margin-bottom: 30px;
}
.javasection .upper_section p {
  color: gray;
}
.javasection .cards_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  background-color: #141214;
}
.javasection .cards_section .card {
  padding: 20px;
  background-color: #141214;
  color: white;
  border: 1px solid gray;
}
.javasection .cards_section .card:nth-of-type(3) {
  padding-top: 30px;
}
.javasection .cards_section .card video {
  width: 200px;
}

.list-section {
  color: white;
  background-color: #141214;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.list-section .list-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.list-section .list-items {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
.list-section .list-items img {
  width: 50px;
  align-items: center;
  padding-bottom: 40px;
}
.list-section .list-items span {
  color: rgb(61, 59, 59);
}

.about_section .px-5 {
  background-color: transparent !important;
}
.about_section .col {
  background-color: rgb(45, 44, 44);
  border-radius: 30px;
  margin-right: 150px !important;
  margin-bottom: 200px;
}
.about_section .col img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
}
.about_section .about-text {
  background-color: #141214;
  max-width: 1000px;
  font-size: 44px !important;
  font-weight: 800;
  margin: 100px 0px;
}
.about_section .about-text p {
  background: -webkit-linear-gradient(#08e1c4 30%, rgba(6, 211, 108, 0.6901960784));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 42px;
}

.container-fluid .projects {
  margin-bottom: 200px;
}
.container-fluid .projects .each-project .left {
  padding: 50px 50px 0px 50px;
  position: relative;
  background-color: rgb(60, 60, 60);
}
.container-fluid .projects .each-project .left i {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 3px;
  right: 3px;
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
}
.container-fluid .projects .each-project .left:hover {
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}

.footer {
  background-color: #141214;
}
.footer ul li {
  list-style-type: none;
  padding: 10px;
}
.footer ul li a {
  text-decoration: none;
  color: rgb(255, 254, 254);
  font-size: 16px;
}
.footer ul li .first_li {
  font-size: 22px;
  text-shadow: 0px 0px 2px white;
}

.col-lg-3 li button {
  background-color: rgb(52, 230, 39);
  border-radius: 5px;
  padding: 5px;
  border: none;
  outline: none;
}
.col-lg-3 li button:hover {
  transform: scale(90%);
  box-shadow: 0px 0px 5px white;
  transition: ease all 0.3s;
}/*# sourceMappingURL=style.css.map */